
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex; 
  height: 100vh;  
  width: 100%;
  background-color: #f8fafc; 
  overflow: hidden; 
}


.sidebar-container {
  width: 330px; 
  background-color: #f8fafc; 
  flex-shrink: 0; 
  display: flex;            
  flex-direction: column;   
  justify-content: center;  
  align-items: center;      
  height: 100vh;
  padding: 10px 0px 10px 10px;
}


.content-header-container {
  display: flex;
  flex-direction: column; 
  flex-grow: 1; 
  height: 100vh; 
  overflow: hidden; 
}

.header-container {
  width: 100%;
  flex-shrink: 0; 
  padding: 10px;
  overflow: hidden; 
}

.content-container {
  flex-grow: 1;      
  overflow-y: hidden;  
  padding: 10px;
  display: flex;
  justify-content: center; 
  align-items: center;     
}


.content {
  background-color: #FFFFFF;
  border: 1px solid #edf2f7; 
  border-radius: 20px;
  padding: 20px; 
  
  width: 100%;
  height: 100%;    
  box-sizing: border-box; 

  overflow: hidden; 
  
  margin: auto;
  display: flex;
  flex-direction: column; 
  align-items: center;    
  justify-content: center;
}



::-webkit-scrollbar {
  width: 6px; 
  height: 6px;
}


::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 20px; 
}


::-webkit-scrollbar-thumb {
  background: #cbd5e1; 
  border-radius: 20px;
}


::-webkit-scrollbar-thumb:hover {
  background: #94a3b8; 
}