@import "./DirectorShared.css";

.director-patients-grid {
  align-items: start;
}

.director-patient-table td:last-child {
  white-space: nowrap;
}

.director-patient-table td button {
  margin: 2px 8px 2px 0;
}
