.profile-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background: white;
    border-radius: 8px;
    overflow: hidden; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    min-width: 1000px;

}

.profile-table th {
    background-color: #f8f9fa;
    text-align: left;
    padding: 12px 15px;
    border-bottom: 2px solid #eee;
    color: #666;
    font-weight: 600;
}

.profile-table td {
    padding: 8px 12px;
    border-bottom: 1px solid #f0f0f0;
    color: #333;
    font-size:15px
}

.profile-table tr:hover {
    background-color: #f1f7ff; 
}

.more-button{
    background-color: #4B70F5;
    color: white;
    padding: 2px 8px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #FFFFFF;
}
.more-button:hover {
    background-color: #5B65DC;
    box-shadow: 0px 0px 5px #1E293B;
    color: #FFFFFF;
    cursor: pointer;
}
