.sidebar-button{
    background-color: #FFFFFF;
    color: #1E293B;
    border: none;
    padding: 8px 20px;
    border-radius: 20px;
    width: 100%;
    box-shadow: 0px 4px 6px #1E293B;
    font-size: 1rem; 
    border: 1px solid #FFFFFF;
}
.sidebar-button:hover {
    background-color: #5B65DC;
    box-shadow: 0px 6px 10px #1E293B;
    color: #FFFFFF;
    cursor: pointer;
}
